<div style="width: 30%; padding: 4rem">
  <div class="card card-primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vel
        consequuntur saepe nemo quae dolor impedit perferendis architecto
        dolorum eius.
      </p>
    </div>
  </div>
</div>
<div style="width: 30%; padding: 4rem">
  <div class="card card-secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vel
        consequuntur saepe nemo quae dolor impedit perferendis architecto
        dolorum eius.
      </p>
    </div>
  </div>
</div>
<div style="width: 30%; padding: 4rem">
  <div class="card card-accent">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vel
        consequuntur saepe nemo quae dolor impedit perferendis architecto
        dolorum eius.
      </p>
    </div>
  </div>
</div>
